@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
  background: url('../images/bg.jpg');
}

.nameContainer{
  background: #e5e5e5;
  width: 90%;
  padding: 5%;
  margin: 0 auto;
  border: 2px solid #a9a5a5;
  border-radius: 5px;
  margin-top: 50%;
}

.nameContainer button{
  margin: 0 auto !important;
  display: block !important;
}

.username{
  padding: 15px 15px;
  font-size: 20px;
  height: 50px;
}

red{
  color: red;
  font-size: 14px;
}

.inputBox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #d0d0d0;
}

.inputBox .input-group{
  width: 80%;
}

.inputBox input{
  margin: 15px 10px;
  width: 95%;
  border: none;
  padding: 7px 10px;
  font-size: 16px; 
}

.no-pad-mar{
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.sendText{
  font-size: 35px;
  margin-top: 15px;
  cursor: pointer;
  color: #008074;
}

.navbar-brand {
  font-size: 27px;
}

.chatMsg{
  padding: 5%;
  background: #fff;
  color: #666;
  font-size: 15px;
  border-radius: 8px;
  margin: 10px 0px;
  width: 80%;
}

.chatMsgRight{
  float: right;
  text-align: left;
}

.chatMsgLeft{
  float: left;
  text-align: left;
}

.userIcon{
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 2px solid #666;
  text-align: center;
  padding-top: 3px;
  font-size: 15px;
}

.chats{
  margin-bottom: 20px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
  padding-bottom: 6px;
}

.small{
  font-size: 9px;
  margin-top: 10px;
}

.genderPicker{
  width: 50px;
  height: 50px;
  background: #fff;
  text-align: center;
  margin: 0px 5px;
  border-radius: 50%;
  color: #000;
  font-size: 30px;
  display: inline-block;
  padding-top: 5px;
}

.active{
  background: #ea6153;
}

@media only screen and (min-width:768px){
  .chatMsg {
    padding: 20px;
    width: 60%;
  }
}