<div class='nameContainer'>
	<div class="form-group">
		<div class="input-group">
			<label>Enter your name:</label>
			<input required="true" type="text" class='form-control username' ng-model="username"/>
			<red>{{invalidInput}}</red>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<div>Gender:</div>
			<span class='genderPicker active' ng-click="genderSelect($event,'M')">
				<i class="fas fa-male"></i>
			</span>
			<span class='genderPicker' ng-click="genderSelect($event,'F')">
				<i class="fas fa-female"></i>
			</span>
		</div>
	</div>
	<button class='btn-danger btn' ng-click="loginUser()">
		Go&nbsp;
		<i class='fas fa-arrow-right'></i>
	</button>
</div>
