<div class='chatWrapper'>
  <div class='chats' ng-style="setChatBoxHeight()">
    <div ng-if='messages.length>0'>
      <div ng-class='getMsgOwner(msg)' ng-repeat="msg in messages track by $index">
        <div class='row'>
          <div class='col-xs-2'>
            <span class='userIcon'>
              <i class='fas fa-user'></i>
            </span>
          </div>
          <div class='col-xs-10'>
            <div>{{msg.message}}</div>
            <div class='pull-right small'>{{msg.timeStamp | time}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='inputBox'>
    <div class='row no-pad-mar'>
      <div class='col-xs-10 col-md-11 no-pad-mar'>
        <input type="text" ng-keypress="watchKeyup($event)" placeholder="Enter your message here.." ng-model="textMsg" />
      </div>
      <div class='col-xs-2 col-md-1 no-pad-mar text-center'>
        <i class="fas fa-paper-plane sendText" ng-click="sendMsg()"></i>
      </div>
    </div>
  </div>
</div>